/*Template page style*/

body {
	margin: 0;
}

#page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header {

}

#page-content {
	flex-grow: 1;
	width: 70%;
	max-width: 20cm;
	margin: auto;
}

#footer {
	height: 2em;
}
