//out: ../lib/fritz-metro.css

@import "https://fonts.googleapis.com/css?family=Permanent+Marker|UnifrakturCook:700|Voltaire";

@head-font: 'UnifrakturCook', cursive;
@normal-font: 'Voltaire', sans-serif;
@brush-font: 'Permanent Marker', cursive;

@dark-color: #0c0e03;
@bright-green: #a4f200;

body {
	background-color: @dark-color;
	color: @bright-green;
	font-family: @normal-font;
}

h1 {
	font-family: @head-font;
}
